p {
  display:flex;
  justify-content: center;
  margin: auto;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: gray;
}

img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: flex;
}

h2 img {
  display: inline-block;
  max-width: 28px;
  max-height: 28px;
  float: right;
  align-content: center;
  filter: brightness(0) invert(1);
}

ul {
  margin-left: 80px;
}

li {
  font-family: Helvetica;
  font-size: 14px;
}

/* Containers */

.page-wrapper {
  height: auto;
  border-style: solid;
  margin: auto;
  max-width: 1024px;
}

.container {
  margin: 50px;
}

.about-container {
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
}

.slim-container {
  height: 220px;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.medium-container {
  height: 360px;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.large-container {
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.left-container {
  width: 35%;
}

.hor-seperator {
  width: 5%;
}

.right-container {
  width: 60%;
  background-color: #fafcff;
  -webkit-box-shadow: 10px 10px 30px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 30px -15px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 30px -15px rgba(0,0,0,0.75);
}

.top-container {
  height: 150px;
}

.vert-seperator {
  height: 40px;
}

.bottom-container {
  height: 310px;
}

.picture-container {
  height: 100%;
  width: 100%;
}

.gray-container {
  background-color: LightSlateGray;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 10px 10px 30px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 30px -15px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 30px -15px rgba(0,0,0,0.75);
}

.blue-container{
  background-color: RoyalBlue;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 10px 10px 30px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 30px -15px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 30px -15px rgba(0,0,0,0.75);
}

.logo-container {
  width: 90%;
  height: 35%;
  display: flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
}

/* Content */

.right-container p {
  padding: 20px;
}

.left-container p {
  color: white;
}

.gray-container h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: Helvetica;
  color: white;
  padding: 20px 20px 0px 20px;
  font-size: 40px;
}

.gray-container h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: Calibri;
  color: white;
  padding: 20px 0px 5px 0px;
  border-bottom-style: solid;
  font-weight: normal;
  margin: 0px 20px 0px 20px;
}

.gray-container p {
  justify-content: left;
  margin: 0px 20px 0px 20px;
  font-family: Calibri;
}

.gray-container h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: Calibri;
  color: white;
  padding: 20px 0px 5px 0px;
  font-weight: normal;
  margin: 0px 20px 0px 20px;
}

.blue-container h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: Calibri;
  color: white;
  padding: 20px 20px 5px 0px;
  border-bottom-style: solid;
  font-weight: normal;
  margin: 0px 20px 0px 20px;
}

.blue-container p {
  justify-content: left;
  margin: 5px 20px 0px 20px;
  padding-top: 5px;
  font-family: Calibri;
}

.blue-container a {
  display: contents;
  color: white;
  text-decoration: none;
}

.blue-container a:hover {
  color: #f2c649;
}

.blue-container b {
  display: contents;
}

.blue-container img {
  float: left;
  width: 60px;
  height: 60px;
  filter: brightness(0) invert(1);
}

.blue-container img:hover {
  filter: brightness(0);
}

.project-container {
  width: 90%;
  height: 90%;
  margin-top: 5%;
  margin-left: 5%;
}

.project {
  height: 95px;
  width: 100%;
}

.picture-container img {
  float: left;
  border-style: solid;
}

.picture-container p {
  padding: 10px 0px 10px 10px;
  font-family: Calibri;
}

.project-container h2 {
  font-family: Calibri;
  font-size: 30px;
}
